<form name="game_account_recovery_password" action="" id="form-recovery-password" class="form-bordered" method="post"
      onsubmit="return false;">
    <input type="hidden" name="module" value="account_list_all">
    <input type="hidden" name="recovery-password-account" value="${account_name}">

    <div class="form-group">
        After confirmation, your game password will be reset and sent to your mail. Are you sure you want to reset the password?
    </div>
    <div class="form-group form-actions">
        <div style="min-height: 30px">
            <div class="col-xs-8">
                <div class="show_game_account_recovery_password"></div>
            </div>
            <div class="col-xs-4">
                <button type="submit" id="create_game_account" class="btn btn-sm btn-success submit-btn"><i
                        class="fa fa-angle-right"></i> Recover password </button>
            </div>
        </div>
    </div>
</form>