<div class="tab-pane active" id="news-edit">
    <div class="block-content-full">
        <div class="block" style="border: 0px;">
            <div class="text-center"><h3><strong>Редактировать новость</strong></h3></div>
            <!-- Basic Form Elements Content -->
            <form class="form-horizontal" action="#springUrl("/admin/news/edit")">
            #springFormHiddenInput("news.id")
            <div class="form-group">
                <label class="col-md-2 control-label" for="example-text-input">Заголовок</label>
                <div class="col-md-8">
                    #springFormInput("news.title" 'type="text" class="form-control" placeholder="Введите заголовок новости"')
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="example-textarea-input">Описание</label>
                <div class="col-md-8">
                    #springFormTextarea("news.content" 'id="example-textarea-input" rows="9" class="form-control" placeholder="Текст..."')
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="example-text-input">Ссылка</label>
                <div class="col-md-8">
                    #springFormInput("news.link" 'type="text" class="form-control" placeholder="Введите ссылку на форум"')
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="example-text-input">Картинка</label>
                <div class="col-md-5">
                    <input type="file" name="file"><br>
                    <img src="/image/$news.id" alt="" class="nimg" width="224" height="128"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="example-select">Язык</label>
                <div class="col-md-3">
                    <select class="form-control" size="1" name="lang">
                        <option #if($news.lang == "ru")selected#end value="ru">Русский</option>
                        <option #if($news.lang == "en")selected#end value="en">English</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-actions">
                <div class="col-md-3 col-md-offset-2">
                    <button type="submit" class="btn btn-sm btn-primary submit-multipart"><i
                            class="fa fa-angle-right"></i> Сохранить</button>
                </div>
            </div>
            </form><!-- END Basic Form Elements Content --></div>
    </div>
</div>


