<div id="page-wrapper" class="page-loading"><!-- Preloader -->
    <!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
    <!-- Used only if page preloader is enabled from inc/config (PHP version) or the class 'page-loading' is added in #page-wrapper element (HTML version) -->
    <div class="preloader themed-background"><h1 class="push-top-bottom text-light text-center"><strong>Your Title</h1>
        <div class="inner"><h3 class="text-light visible-lt-ie9 visible-lt-ie10"><strong>Загрузка..</strong></h3>
            <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
        </div>
    </div>
    <div id="page-container" class="sidebar-partial sidebar-visible-lg">
        <!-- Sidebar -->
        #parse("cp/ru/menu.vm")
        <!-- END Sidebar -->
        <!-- Main Container -->
        <div id="main-container">
            <!-- Header -->
            #parse("cp/ru/account/pagemenu.vm")
            <div id="page-content">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="block">
                                    <div class="block-title">
                                        <div class="block-options pull-right"><a href="javascript:void(0)"
                                                                                 class="btn btn-alt btn-sm btn-primary"
                                                                                 data-toggle="block-toggle-fullscreen"><i
                                                class="fa fa-desktop"></i></a></div>
                                        <h2><strong>Перевести </strong> Gold в игру</h2></div>
                                    <div class="block-content"><p></p>
                                        <legend>Баланс: $!MONEY</legend>
                                        <form name="get_buy_coin" action=""
                                              id="form-buy-coin" class="form-bordered" method="post"
                                              onsubmit="return false;">
                                            <input type="hidden" name="module" value="buttons_buy_coins">

                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-plus-square"></i></span>
                                                    <input type="number" min="1" max="600000" maxlength="6" name="count" class="form-control" placeholder="Введите количество">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                    <select id="account-buy-coin" name="account" class="form-control" size="1">
                                                        <option value="0">Выберите аккаунт</option>
                                                        #foreach($account in $accounts)<option value="$account.account">$account.account</option>#end
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group" id="char-list-buy-coin" style="display: none">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-street-view"></i></span>
                                                    <select id="select-char-id-buy-coin" name="char" class="form-control" size="1">
                                                        <option value="0">Выберите персонажа</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group form-actions">
                                                <div style="min-height: 30px">
                                                    <div class="col-xs-9">
                                                        <div class="show_get_buy_coin"></div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <button type="submit" id="button-buy-coin" class="btn btn-sm btn-success submit-btn" style="display: none">
                                                            <i class="fa fa-angle-right"></i> Отправить </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="clearfix">
                <div class="pull-left"><span id="year-copy"></span> &copy; <a href="http://${domain}/"
                                                                              target="_blank">${domain}</a></div>
            </footer>
        </div>
    </div>
</div>
<!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
<a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

