<form name="master_account_change_password" action="" id="form-change-password-ma" class="form-bordered" method="post"
      onsubmit="return false;">
    <input type="hidden" name="module" value="global_informaiton_block">
    <input type="hidden" name="action" value="change_password_ma">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
            <input type="password" name="change-password-old" id="change-password" class="form-control" placeholder="Старый пароль"></div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
            <input type="password" name="change-password-new" id="change-password" class="form-control" placeholder="Новый пароль"></div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
            <input type="password" name="change-password-verify" id="change-password-verify" class="form-control" placeholder="Повторите пароль"></div>
    </div>
    <div class="form-group form-actions">
        <div style="min-height: 30px">
            <div class="col-xs-9">
                <div class="show_master_account_change_password"></div>
            </div>
            <div class="col-xs-3">
                <button type="submit" id="change_password_master_account" class="btn btn-sm btn-success submit-btn">
                    <i class="fa fa-angle-right"></i> Сменить пароль </button>
            </div>
        </div>
    </div>
</form>