<div id="wrapper">
    <div id="left">
        <h2><span>Sign up</span></h2>
        <div id="register-form">
            <form action="#springUrl("/register")" method="post" class="order-form" onsubmit="return false;">
            <input type="hidden" id="prefixinput" name="prefix" value="$prefix">
	        #if($xmlRpcRegAccount)
	            <span>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <div class="inp2">
                        <p id="prefixval">Prefix: $prefix</p> <a href="javascript:void(0);" class="btn-generate">Generate</a>
                    </div>
                    <input class="inp3" name="account" id="account" type="text" value="Account" onfocus="if(this.value=='Account')this.value=''; $('#acc-error').hide(200)" onblur="if(this.value=='')this.value='Account'; checkAccount()" />
					<div class="error-reg" id="acc-error" hidden><p></p></div>
				</span>
	        #end
                <span>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input class="inp3" name="username" id="username" type="text" value="Email" onfocus="if(this.value=='Email')this.value='';" onblur="if(this.value=='')this.value='Email';" />
                    <div class="error-reg" id="email-error" hidden><p></p></div>
                </span>
                <span>
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    <input class="inp3" name="password" id="password" type="text" value="Password" onfocus="if(this.value=='Password'){this.value=''; this.type = 'password';} $('#pass-error').hide(200)" onblur="if(this.value==''){this.value='Password';this.type = 'text';}" />
                    <div class="error-reg" id="pass-error" hidden><p></p></div>
                </span>
                <span>
                    <i class="fa fa-unlock" aria-hidden="true"></i>
                    <input class="inp3" name="password-verify" id="password_confirm" type="text" value="Repeat password" onfocus="if(this.value=='Repeat password'){this.value=''; this.type = 'password';} $('#cpass-error').hide(200)" onblur="if(this.value==''){this.value='Repeat password';this.type = 'text';} checkConfirmPassword()" />
                    <div class="error-reg" id="cpass-error" hidden><p></p></div>
                </span>
                <span>
                    <div style="width:355px;">
                        <div id="recaptcha3"></div>
                    </div>
                </span>
                <span>
                    <input class="styled-checkbox" id="styled-checkbox" type="checkbox" name="terms">
                    <label for="styled-checkbox">I accept the <a href="http://forum.${domain}/index.php?threads/polzovatelskoe-soglashenie-end-user-license-agreement.4/#post-5" target="_blank">license agreement</a></label>
                    <button class="btn register-btn-reg submit-btn">Register</button>
                    <a style="margin: 0px 20px 0px 0px;" href="/login#reminder" class="register-link-pass">Password recovery</a>
                    <a style="margin: 0px 20px 0px 0px;" href="/login" class="register-link-pass">Sign In</a>
                    <div class="error-reg" id="error-msg" hidden><p></p></div>
                </span>
            </form>
        </div>
    </div>
    <div id="right">
        <div id="client">
            <div class="client-block" id="modal-boxClientInfo">
                <div class="client-ico">
                    <i class="fa fa-4x fa-cloud-download" aria-hidden="true"></i>
                </div>
                <div class="client-link"><a href="javascript:void(0);">Download client</a></div>
            </div>
            <div class="client-block" id="modal-boxPatchInfo">
                <div class="client-ico">
                    <i class="fa fa-4x fa-cloud-download" aria-hidden="true"></i>
                </div>
                <div class="client-link"><a href="javascript:void(0);">Download patch</a></div>
            </div>
            <div class="client-block" id="modal-boxUpdaterInfo">
                <div class="client-ico">
                    <i class="fa fa-4x fa-cloud-download" aria-hidden="true"></i>
                </div>
                <div class="client-link"><a href="javascript:void(0);">Download updater</a></div>
            </div>
        </div>
    </div>
    <!-- Pop Up Client -->
    <div style="display: none;">
        <div class="box-modal" id="boxClientInfo">
            <div class="box-modal_close arcticmodal-close"><i class="fa fa-lg fa-times" aria-hidden="true"></i></div>
            <h3>Client High Five</h3>
            <div class="popup-readmore"> <a href="#">Download from site</a> </div>
            <div class="popup-readmore"> <a href="#">Download from yandex</a> </div>
            <div class="popup-readmore"> <a href="#">Download torrent</a> </div>
        </div>
    </div>
    <!-- Pop Up Patch -->
    <div style="display: none;">
        <div class="box-modal" id="boxPatchInfo">
            <div class="box-modal_close arcticmodal-close"><i class="fa fa-lg fa-times" aria-hidden="true"></i></div>
            <h3>Patch for client High Five</h3>
            <div class="popup-readmore"> <a href="#">Download from site</a> </div>
            <div class="popup-readmore"> <a href="#">Download from yandex</a> </div>
            <div class="popup-readmore"> <a href="#">Download torrent</a> </div>
        </div>
    </div>
    <!-- Pop Up Updater -->
    <div style="display: none;">
        <div class="box-modal" id="boxUpdaterInfo">
            <div class="box-modal_close arcticmodal-close"><i class="fa fa-lg fa-times" aria-hidden="true"></i></div>
            <h3>Updater for client High Five</h3>
            <div class="popup-readmore"> <a href="#">Download from site</a> </div>
            <div class="popup-readmore"> <a href="#">Download from yandex</a> </div>
            <div class="popup-readmore"> <a href="#">Download torrent</a> </div>
        </div>
    </div>
    <div class="clr"></div>
</div>
<script src="https://www.google.com/recaptcha/api.js?hl=en&onload=onloadCallback&amp;render=explicit" async defer></script>
<script type="text/javascript">
var onloadCallback = function() {  mysitekey = '$!recaptchaKeySite'; recaptcha3_key = grecaptcha.render('recaptcha3', {  'sitekey': mysitekey, 'theme' : 'dark' }); };
</script>
<script type="text/javascript" src="/site/js/register-en.js"></script>
<div class="bSpinner"></div>
<!--[if IE 8]>
<script src="/account/js/helpers/excanvas.min.js"></script><![endif]-->
<script>
$(document).ready(function () {
$('#modal-boxClientInfo').on('click', function () {$('#boxClientInfo').arcticmodal({closeOnOverlayClick: true, closeOnEsc: true}); });
$('#modal-boxPatchInfo').on('click', function () {$('#boxPatchInfo').arcticmodal({closeOnOverlayClick: true, closeOnEsc: true}); });
$('#modal-boxUpdaterInfo').on('click', function () {$('#boxUpdaterInfo').arcticmodal({closeOnOverlayClick: true, closeOnEsc: true}); });
$('#modal-boxRegMail').on('click', function () {$('#boxRegMail').arcticmodal({closeOnOverlayClick: true, closeOnEsc: true}); });
$('#modal-boxRegNomail').on('click', function () {$('#boxRegNomail').arcticmodal({closeOnOverlayClick: true, closeOnEsc: true}); });
});
</script>
<span id="modal-boxRegMail"></span>
<div style="display: none;">
	<div class="box-modal" id="boxRegMail">
		<div class="box-modal_close arcticmodal-close"><i class="fa fa-lg fa-times" aria-hidden="true"></i></div>
		<h3>Your account was successfully created!</h3>
		<div>The confirmation and logon params was sent to your email, <br>if it's not there - <span style="color: #E2404A;">check spam folder.</span>
			<br>Please wait for it received and click on the link in that email.<br>
			<br>Attention, Game Account can be created <span style="text-decoration: underline;">inside</span> Master Account!.<br><br>
		</div>
		<div class="popup-readmore">
			<a href="/account">Enter to the Control Panel</a>
		</div>
	</div>
</div>
<span id="modal-boxRegNomail"></span>
<div style="display: none;">
	<div class="box-modal" id="boxRegNomail">
		<div class="box-modal_close arcticmodal-close"><i class="fa fa-lg fa-times" aria-hidden="true"></i></div>
		<h3>Your account was successfully created!</h3>
		<div>The sending of confirmation and logon params on your email was failed<br>
			<br>Please send confirmation from Control Panel later.<br>
			<br>Attention, Game Account can be created <span style="text-decoration: underline;">inside</span> Master Account!.<br><br>
		</div>
		<div class="popup-readmore">
			<a href="/account">Enter to the Control Panel</a>
		</div>
	</div>
</div>