<div id="page-wrapper" class="page-loading"><!-- Preloader -->
    <!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
    <!-- Used only if page preloader is enabled from inc/config (PHP version) or the class 'page-loading' is added in #page-wrapper element (HTML version) -->
    <div class="preloader themed-background"><h1 class="push-top-bottom text-light text-center"><strong>Your Title</h1>

        <div class="inner"><h3 class="text-light visible-lt-ie9 visible-lt-ie10"><strong>Loading..</strong></h3>

            <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
        </div>
    </div>
    <div id="page-container" class="sidebar-partial sidebar-visible-lg">
        <!-- Alternative Sidebar -->
        #parse("cp/en/menu.vm")
        <!-- END Main Sidebar -->
        <!-- Main Container -->
        <div id="main-container"><!-- Header -->
            <!-- In the PHP version you can set the following options from inc/config file -->
            <!-- Available header.navbar classes: 'navbar-default' for the default light header 'navbar-inverse' for an alternative dark header 'navbar-fixed-top' for a top fixed header (fixed sidebars with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar()) 'header-fixed-top' has to be added on #page-container only if the class 'navbar-fixed-top' was added 'navbar-fixed-bottom' for a bottom fixed header (fixed sidebars with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar())) 'header-fixed-bottom' has to be added on #page-container only if the class 'navbar-fixed-bottom' was added -->
            #parse("cp/en/account/pagemenu.vm")
            <div id="page-content">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-md-12">
                                <style> .remove-tab{ cursor: pointer; color: rgba(0, 0, 0, 0.3); } .remove-tab:hover{
                                    color: rgba(0, 0, 0, 1); }
                                </style>
                                <ul class="breadcrumb breadcrumb-top">
                                    <li><a href="/account">Cabinet</a></li>
                                    <li><a href="/account/support">Support</a></li>
                                </ul>
                                <div class="row">
                                    <div class="col-sm-4 col-lg-4">
                                        <a href="javascript:void(0)" class="widget widget-hover-effect4 themed-background">
                                        <div class="widget-simple" style="padding: 10px;">
                                            <h4 class="widget-content widget-content-light text-center">
                                            <strong style="font-weight: 400;">How can I protect my account?</strong></h4>
                                        </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-4 col-lg-4">
                                        <a href="javascript:void(0)" class="widget widget-hover-effect4 themed-background new-tiket-quick-app-bot">
                                        <div class="widget-simple" style="padding: 10px;">
                                            <h4 class="widget-content widget-content-light text-center">
                                                <strong style="font-weight: 400;">Report on 3rd party software user (bot)</strong></h4>
                                        </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-4 col-lg-4">
                                        <div class="row">
                                            <div class="col-sm-12 col-lg-12">
                                                <a href="http://${domain}/forum/faq-informations.3/"
                                                    class="widget widget-hover-effect4 themed-background-autumn">
                                                <div class="widget-simple" style="padding: 10px;">
                                                    <h4 class="widget-content widget-content-light text-center">
                                                        <strong style="font-weight: 400;">FAQ</strong></h4>
                                                </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 col-lg-8">
                                        <!-- Tickets Block -->
                                        <div class="block">
                                            <!-- Tickets Title -->
                                            <div class="block-title">
                                                <div class="block-options pull-right">
                                                    <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-primary" data-toggle="block-toggle-fullscreen">
                                                        <i  class="fa fa-desktop"></i></a>
                                                </div>
                                                <ul class="nav nav-tabs" data-toggle="tabs">
                                                    <li class="active"><a href="#tickets-list">All tickets</a></li>
                                                    <li><a href="#tickets-answered">Tickets with an answer</a></li>
                                                    <li><a href="#tickets-consideration">Pending</a></li>
                                                </ul>
                                            </div>
                                            <!-- END Tickets Title -->
                                            <!-- Tabs Content -->
                                            <div class="tab-content">
                                                <!-- Tickets List -->
                                                <div class="tab-pane active" id="tickets-list">
                                                    <div class="block-content-full">
                                                        <div class="table-responsive remove-margin-bottom">
                                                            <table class="table table-striped table-vcenter remove-margin-bottom">
                                                                <thead>
                                                                <tr>
                                                                    <th class="text-center">ID</th>
                                                                    <th>Status</th>
                                                                    <th>Title</th>
                                                                    <th class="text-center"><i
                                                                            class="fa fa-comments"></i></th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                #foreach($request in $supportList)
                                                                <tr>
                                                                    <td class="text-center">#TCK$request.id</td>
                                                                    <td>  <span class="label label-$request.gridLabel">#if($request.type == "NEW") NEW #elseif($request.type == "CLOSE")CLOSE #else IN PROGRESS #end</span>  </td>
                                                                    <td style="width: 100%;"><a href="javascript:void(0)" class="open-tickets" data-tickets="$request.id"><strong>$request.title</strong></a><br><span class="text-muted">$request.content...</span></td>
                                                                    <td class="text-center"><span class="badge label-$request.messageLabel">$request.msgCount</span></td>
                                                                </tr>
                                                                #end
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END Tickets List -->
                                                <!-- Tickets List -->
                                                <div class="tab-pane" id="tickets-answered">
                                                    <div class="block-content-full">
                                                        <div class="table-responsive remove-margin-bottom">
                                                            <table class="table table-striped table-vcenter remove-margin-bottom">
                                                                <thead>
                                                                <tr>
                                                                    <th class="text-center">ID</th>
                                                                    <th>Status</th>
                                                                    <th>Title</th>
                                                                    <th class="text-center"><i
                                                                            class="fa fa-comments"></i></th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                #foreach($request in $supportList)
                                                                #if($request.type == "WAIT")
                                                                <tr>
                                                                    <td class="text-center">#TCK$request.id</td>
                                                                    <td>  <span class="label label-$request.gridLabel">#if($request.type == "NEW") NEW #elseif($request.type == "CLOSE")CLOSE #else IN PROGRESS #end</span>  </td>
                                                                    <td style="width: 100%;"><a href="javascript:void(0)" class="open-tickets" data-tickets="$request.id"><strong>$request.title</strong></a><br><span class="text-muted">$request.content...</span></td>
                                                                    <td class="text-center"><span class="badge label-$request.messageLabel">$request.msgCount</span></td>
                                                                </tr>
                                                                #end
                                                                #end
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div><!-- END Tickets List --><!-- Tickets List -->
                                                <div class="tab-pane" id="tickets-consideration">
                                                    <div class="block-content-full">
                                                        <div class="table-responsive remove-margin-bottom">
                                                            <table class="table table-striped table-vcenter remove-margin-bottom">
                                                                <thead>
                                                                <tr>
                                                                    <th class="text-center">ID</th>
                                                                    <th>Status</th>
                                                                    <th>Title</th>
                                                                    <th class="text-center"><i
                                                                            class="fa fa-comments"></i></th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                #foreach($request in $supportList)
                                                                #if($request.type == "REPLY")
                                                                <tr>
                                                                    <td class="text-center">#TCK$request.id</td>
                                                                    <td>  <span class="label label-$request.gridLabel">#if($request.type == "NEW") NEW #elseif($request.type == "CLOSE")CLOSE #else IN PROGRESS #end</span>  </td>
                                                                    <td style="width: 100%;"><a href="javascript:void(0)" class="open-tickets" data-tickets="$request.id"><strong>$request.title</strong></a><br><span class="text-muted">$request.content...</span></td>
                                                                    <td class="text-center"><span class="badge label-$request.messageLabel">$request.msgCount</span></td>
                                                                </tr>
                                                                #end
                                                                #end
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END Tickets List -->
                                            </div>
                                            <!-- END Tabs Content -->
                                        </div>
                                        <!-- END Tickets Block -->
                                    </div>
                                    <div class="col-sm-4 col-lg-4">
                                        <a href="javascript:void(0)" class="widget widget-hover-effect4 label-success new-tiket-standart">
                                        <div class="widget-simple" style="padding: 10px;">
                                            <h4 class="widget-content widget-content-light text-center">
                                                <strong style="font-weight: 400;">New ticket</strong></h4>
                                        </div>
                                        </a>
                                        <!-- Menu Block -->
                                        <div class="block full">
                                            <!-- Menu Title -->
                                            <div class="block-title clearfix">
                                                <h2><i class="fa fa-ticket"></i> Quick <strong>report</strong></h2>
                                            </div><!-- END Menu Title -->
                                            <button class="btn btn-block btn-success new-tiket-quick-app">
                                                <i class="fa fa-bank"></i><strong>Problems with donation</strong>
                                            </button>
                                            <button class="btn btn-block btn-success tickets-new-quick-drop-itemt">
                                                <i class="fa fa-suitcase"></i><strong>Missing items</strong>
                                            </button>
                                        </div>
                                        <!-- END Menu Block -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="clearfix">
                <div class="pull-left"><span id="year-copy"></span> &copy; <a href="http://${domain}/" target="_blank">${domain}</a></div>
            </footer>
        </div>
    </div>
</div>
<!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
<a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

